.home-section1{
  justify-content: space-between;
  text-align: center;
  padding: 70px;
}

.home.main-section {
  display: flex-start;
  align-items: center;
  justify-content: center;
  padding-bottom: 75px;
  height:800px;
}

.home-main-section .screen-mockups {
  align-items: center;
  max-height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 200px;
  object-fit: cover;

}

.home-section2-boxs{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-section2-boxs .box {
  padding-top: 0px;
  font-size: 40px !important;
  margin: 40px;
  margin-top: 0px;
  padding-right: 100px;
  padding-left: 100px;
  font-weight: 100;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  }

.h4heading {
  font-size: 20px;
  color: grey;
  font-family: open-sans;
  text-align: center;
}


.home-section2{
  padding: 30px;
}

.curved-section {
  background-color: rgb(245, 251, 255);
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.curved-section-text-box {
  text-align: center;
  padding-top: 200px;
  padding-right: 75px;
  padding-left: 75px;
  color: grey;
  font-family: open-sans;
}

.titlemid {
  color: black;
  padding: 15px;
}

.flowing-section {
  background-color: white;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.flowing-section-text-box {
  text-align: center;
  padding-top: 150px;
  padding-right: 100px;
  padding-left: 100px;
  color: grey;
  font-family: open-sans;
}

.user-section-container {
  background-color: rgb(245, 251, 255);
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.user-section-text-box {
  text-align: center;
  padding-top: 200px;
  padding-right: 75px;
  padding-left: 75px;
  color: grey;
  font-family: open-sans;
}

.last-section{
  justify-content: center;
  text-align: center;
  padding: 70px;
  padding-left: 150px;
  padding-bottom: 50px;
}

.footer-left {
  padding: 50px;
  color: white;
}

.footer-right{
  padding: 50px;
  color: white;
}

#screenmockup{
vertical-align: middle;
border-style: none;
}



