/* Nav Bar */

 .navigation-bar {
    width: 100%;
    height: 80px;
    justify-content: space-between;
    display: flex;
    align-items: baseline;
    padding: 10px;
}

.logo {
    color: white;
    display: inline-block;
    vertical-align: top;
    width: 130px;
    height: 25px;
    margin-right: 20px;
    margin-left: :20px;
    margin-top: 15px;
    padding-left: 20px;
    float:left;
}

#nav-button {
    background: #FFFFFF;
    border: 1px solid #FF52C1;
    box-shadow: 0 0 9px 0 rgba(255,82,193,0.22);
    border-radius: 20px;
    font-family: Helvetica;
    font-size: 14px;
    color: #FF52C1;
    letter-spacing: 0;
    width: 141px;
    height: 20px;
    text-decoration: none;
    padding: 0.75rem 2rem;
    margin-right: 50px;
    margin-top:20px;
}

.navigation-bar ul {
  display: inline;
}

 .ul {
    display: inline;
    align-items: baseline;
    text-decoration-style: none:
    marker: none;
  }

/* Body */

.title {
  font-weight: 500;
  font-size: 3em;
  margin-bottom: 1rem;
  margin-top: 0;
  font-family: 'Poppins', sans-serif;

}

.subtitle {
  font-weight: 400;
  font-size: 1.2em;
  margin-bottom: 2rem;
  padding-left: 200px;
  padding-right: 200px;
  font-family: Open Sans;
}

.btn {
  background-color: hsl(322, 100%, 66%);
  color: white;
  padding: 1rem 3rem;
  border-radius: .5em;
  text-decoration: none;
  font-size: .9em;
  border-radius: 25px;
}
